<div id="{{ .Params.id }}" class="mh-carousel text-nowrap overflow-auto vh-100">
	{{- $photos := slice }}
	{{- with .Site.GetPage "/gallery" }}
		{{- range .Resources }}
		{{- $metadata := split (strings.TrimSuffix ".jpg" .Name) "-" }}
		{{- $tags := split (index $metadata 2) "," }}
		{{- if in $tags "carousel" }}
			{{- $photos = $photos | append . }}
		{{- end }}
		{{- end }}
	{{- end }}
	{{- $mid := div (len $photos) 2 }}
	{{- range $index, $photo := $photos }}
	<img data-index="{{ $index }}" draggable="false" class="h-100" src="{{ $photo.RelPermalink }}" />
	{{- if eq $index $mid }}
		{{- $masthead := ($.Site.GetPage "/").Resources.GetMatch "masthead.jpg" }}
	<span id="masthead" class="d-inline-block h-100" style="background-image: url('{{ $masthead.RelPermalink }}');">
		<div class="vw-100 d-flex flex-column">
			<h1 class="mx-auto mt-5 pt-5">Your</h1>
			<h1 class="mx-auto my-5">Big</h1>
			<h1 class="mx-auto">Day</h1>
		</div>
		<!--<div class="position-absolute top-50 start-50 translate-middle text-primary">
			<h1 class="">Your</h1>
			<h1 class="my-5">Big</h1>
			<h1 class="">Day</h1>
		</div>-->
	</span>
	{{- end }}
	{{- end }}
</div>
