/**

	Import fonts here!

**/
//@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap'); //font-family: 'Playfair Display', serif;
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Molle:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');

.brand {
	font-family: 'Oleo Script Swash Caps', cursive;
	@include media-breakpoint-down(md){
		font-size: 1.5rem;	}
	font-size: 2rem;

}

.section-content {
	font-family: 'EB Garamond', serif;
	@extend .fs-4;

}

.section-title {
	font-family: 'EB Garamond', serif;
	font-size: 50px;
	font-weight: 400;
}

.section-subtitle {
	@extend .small;
	@extend .text-muted;
	@extend .fst-italic;
}

.service-card {
	.card-title {
		font-family: 'Lobster', cursive;
		@extend .display-4;
		@extend .text-center;
	}

	.card-body {
		font-family: 'EB Garamond', serif;
	}
}

.page-heading {
	font-family: 'EB Garamond', serif;
}

.page-content {
	font-family: 'EB Garamond', serif;
}

#masthead {
	font-family: 'EB Garamond', serif;
	h1 {
		@extend .display-1;
	}
	h1:nth-child(2) {
		font-family: 'Cinzel Decorative', cursive;
	}
}

.nav-link {
	font-family: 'Urbanist', sans-serif;
	font-size: 1.1rem;
}


.masthead-text {
	font-family: 'Cinzel Decorative', cursive;
	font-weight: 700;
	font-size: 2rem;
	color: #1d3531;
	margin-top: auto;
	margin-bottom: auto;
	@include media-breakpoint-down(md){
		
	}
}