/**

	Import fonts here!

**/
//@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap'); //font-family: 'Playfair Display', serif;
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');

.brand {
	font-family: 'Emilys Candy', cursive;
}

.section-content {
	font-family: 'EB Garamond', serif;
	@extend .fs-4;

}

.section-title {
	font-family: 'EB Garamond', serif;
	font-size: 50px;
	font-weight: 400;
}

.section-subtitle {
	@extend .small;
	@extend .text-muted;
	@extend .fst-italic;
}

.service-card {
	.card-title {
		font-family: 'Dancing Script', cursive;
		@extend .display-5;
		@extend .text-center;
	}

	.card-body {
		font-family: 'EB Garamond', serif;
	}
}

.page-heading {
	font-family: 'Dancing Script', cursive;
}

.page-content {
	font-family: 'EB Garamond', serif;
}

#masthead {
	font-family: 'Dancing Script', cursive;
	h1 {
		@extend .display-1;
	}
	h1:nth-child(2) {
		font-family: 'Cinzel Decorative', cursive;
	}
}
