
<form class="text-start" method="POST" target="_blank">
	<div class="my-3">
		<label for="cf-email" class="form-label">Email address</label>
		<input id="cf-email" class="form-control" type="email" name="email" placeholder="enter your email" required/>
		<div class="form-text fs-6 fst-italic">We will never share your email with anyone. Ever.</div>
	</div>
	<div class="my-3">
		<label for="cf-name" class="form-label">Your name</label>
		<input id="cf-name" class="form-control" type="text" name="name" placeholder="enter your name" required/>
	</div>
	<div class="my-3">
		<label for="cf-message" class="form-label">Message</label>
		<textarea id="cf-message" class="form-control" name="message" cols="30" rows="10"></textarea>
	</div>
	<button class="btn btn-primary">Submit</button>
</form>
